@page
@{
    ViewData["Title"] = "Cadastro Realizado com Sucesso!";
}

<h1>@ViewData["Title"]</h1>

<p>Seus dados foram recebidos e seu cadastro foi realizado com sucesso. Para fazer o login agora,
    <a href="/Login">Clique aqui</a>.</p>
<p>
    <a class="btn btn-outline-success" href="/Login">Clique aqui para fazer o Login!</a>
</p>
